---
layout: main
---
<h1>{{page.category}} Mods</h1>

<ul>
  {% for mod in site.mods %}
    {% if mod.categories contains page.category %}
      <li>
        <a href="{{ site.baseurl }}{{ mod.url }}">{{ mod.title }}</a> by {{mod.authors}} (Version: {{mod.version}})
      </li>
      <ul>
        <li>Description: {{mod.tagline}}</li>
        <li>Supports: <code class="language-plaintext highlighter-rouge">{{mod.supported}}</code></li>
        <li>Types: {{ mod.categories | array_to_sentence_string }}</li>
        <br>
      </ul>
    {% endif %}
  {% endfor %}
</ul>
